*

!/.gitignore

!*.go
!go.sum
!go.mod

!*.templ

!*.sql

!README.md
!LICENSE
!docker-compose.yml
!Dockerfile
!.env.example
!Makefile
!package.json
!package-lock.json
!tailwind.config.js
!openapi.yaml
!API.md

!*/

node_modules
*_templ.go
